<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Enter heading text here, could be something like #MyEvent-->
    <add key="HeadingText" value=""/>
    
    <!--The hashtag to search for, without the # prefix.-->
    <add key="Hashtag" value=""/>
    
    <!--The username that should be used to log into instagram-->
    <add key="Username" value=""/>

    <!--The password corresponding to the username-->
    <add key="Password" value=""/>
    
    <!-- Duration between photo changes-->
    <add key="TransitionSpeedMs" value="8000"/>
    
    <!--The number of pages to pull each search cycle-->
    <add key="PagesCount" value="5"/>
    
    <!--The date of the oldest post to be displayed-->
    <add key="StartDate" value="02/07/2005"/>
  </appSettings>
</configuration>